certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
idna==3.4
progressbar==2.5
progressbar2==4.2.0
pycparser==2.21
pydub==0.25.1
python-utils==3.8.1
requests==2.31.0
srt==3.5.3
tk==0.1.0
typing_extensions==4.8.0
urllib3==2.1.0
vosk==0.3.45
websockets==12.0
